.container{
    font-size:32px;
    color:black;
    text-align:center;
    background-color:cadetblue ;
    padding:24px;
    border: 2px solid blueviolet;
    margin-top: 24px;
    margin-bottom:24px;
}