*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display:flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 197, 148);
    height: 100vh;
}

.box{
    flex: 1;
    width: 200px;
    height: 200px; 
    background-color: rgb(123, 109, 213);
}

.container :nth-child(odd) {
        background-color: rgb(208, 156, 188);
}